@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');


body {
    background-color:#E8D9BE;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 60vh;
    font-family: 'Alfa Slab One', cursive;
}

header{
    margin-right: 100px;
    font-size: 25px;
}

form{
    font-size: 18px;
}

input {
    border: none;
    border-bottom: 5px solid #70b0b0;
    font-family: 'Alfa Slab One', cursive;
    font-size: 18px;
    background: #E8D9BE;
}

button {
    margin: 10%;
    text-align: center;
    width: 200px;
    font-size: 20px;
    font-weight: 600;
    font-family: 'Alfa Slab One', cursive;
    color: black;
    cursor: pointer;
    margin: 20px;
    height: 55px;
    text-align:center;
    border: none;
    background-size: 300% 100%;
    border-radius: 50px;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    background-image: linear-gradient(to right, #25aae1, #40e495, #30dd8a, #2bb673);
    box-shadow: 0 4px 15px 0 rgba(49, 196, 190, 0.75);
}

button:hover {
    background-position: 100% 0;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

button:focus {
    outline: none;
}







