@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');


body {
    background-color:#E8D9BE;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 60vh;
}

#nav-bar{
    margin: 0 auto; 
    position: fixed;
    display: inline-block;
    top: 120px;
    margin-top: 25px;

}

#nav-bar a:link {
    text-decoration: none;
    color: black;
    padding: 35px;
    font-size: 25px;
    font-family: 'Alfa Slab One', cursive;
}

#nav-bar a {
  color: inherit;
  text-decoration: none;
  background:
    linear-gradient(
      to right,
      #70b0b0,
      #70b0b0
    ),
    linear-gradient(
      to right,
      #f19960,
      #ca5a4b
  );
  background-size: 100% 10px, 0 10px;
  background-position: 100% 80%, 0 80%;
  background-repeat: no-repeat;
  transition: background-size 400ms;
}

#nav-bar a:hover  {
  background-size: 0 10px, 100% 10px;
  color:  #70b0b0;
}


#welcome-msg{
    position: fixed;
    display: inline-block;
    top: 50px;
    font-family: 'Alfa Slab One', cursive;
    font-size: 28px;
}




/* MAIN PAGE - TITLE------------------- */
.top-heading{
    font-family: 'Alfa Slab One', cursive;
    font-size: 20px;
    position: relative;
    padding-right: 50px;
}


.waviy {
  position: relative;
  -webkit-box-reflect: below 0px linear-gradient(transparent, rgba(255, 255, 255, 0.2));
  font-size: 150px;
  margin-top: 50px;
}
.waviy span {
  font-family: 'Alfa Slab One', cursive;
  position: relative;
  display: inline-block;
  color: black;
  text-transform: uppercase;
  animation: waviy 1s infinite;
  animation-delay: calc(.1s * var(--i));
}

.waviy span.hip{
 /* Create the gradient. */
  background-image: linear-gradient(109.8deg, rgb(62, 5, 116) -5.2%, rgb(41, 14, 151) -5.2%, rgb(216, 68, 148) 103.3%);
  /* Use the text as a mask for the background. */
  /* This will show the gradient as a text color rather than element bg. */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

.waviy span.and{
 /* Create the gradient. */
  background-image: linear-gradient(109.6deg, rgb(20, 30, 48) 11.2%, rgb(36, 59, 85) 91.1%);
  /* Use the text as a mask for the background. */
  /* This will show the gradient as a text color rather than element bg. */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

.waviy span.hop{
 /* Create the gradient. */
  background-image: linear-gradient(110.3deg, rgb(212, 126, 46) 8.7%, rgb(172, 81, 61) 47.5%, rgb(114, 43, 54) 89.1%);
  /* Use the text as a mask for the background. */
  /* This will show the gradient as a text color rather than element bg. */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

@keyframes waviy {
    0%,40%,100% {
        transform: translateY(0)
    }
    20% {
        transform: translateY(40px)
    }
}

.and{
    padding-left: 30px;
    padding-right: 30px;
}

/* MAIN PAGE - TITLE------------------- */



.select-game {
    position: fixed;
    margin-top: 450px;
    font-family: 'Alfa Slab One', cursive;
    justify-content: space-between;
    display: flex;
}

.select-game h1{
    width: 300px;
    margin: 49px;
    text-align: center;

}

.swing {
    animation: swing ease-in-out 1s infinite alternate;
    float:left;
    
}
 

@keyframes swing {
    0% { transform: rotate(8deg); }
    100% { transform: rotate(-8deg); }
}

.swing:hover {
    opacity: 0.5;
}

